

<article class="post-main">
 <div class="title">
  <a href="posts/{{id}}">{{title}}</a> by {{created_at}}<br>
  </div>
  <div class="content-main">
    
<span>{{post_content}}</span>

</div>

</article>