{{!-- Base Handlebar HTML --}}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get Clickn' Blogs</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <header>
            <nav>
                {{!-- Setting up elements to appear based on if the user is logged in --}}
                <a href="/">Home</a>
                {{#if loggedIn}}
                    <a href="/dashboard">Dashboard</a>
                    <button id="logout" class="btn">Logout</button>
                {{ else }}
                    <a href="/login">Login</a>
                {{/if}}
            </nav>

            <div class="wrapper">
                <header>
                    <h1>
                        <a href="/">Get Clickn' Blogs</a>
                    </h1>
                </div>
            </header>
            <main>
                {{{ body }}}
            </main>
            <footer>
                
            </footer>
        {{!-- Logout Javascript only works if the user is Logged In --}}
            {{#if loggedIn}}
                <script src="/javascript/logout.js"></script>
            {{/if}}
        </body>
    </body>
</html>
