{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}

    {{> post-info post}}
    <div class="edit">
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>

    </div>

    {{/each}}
  </ol>
</section>

{{/if}}

<section class="newpost">

  <h2> <a href="/newpost">Create New Post</a></h2>
</section>