<div class="single-post">
{{> post-title}} 

<p class ="comment-title">Comments</p>
{{> comments post.comments}}

{{#if loggedIn}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{else}}
<div class="login-please">
 <a href="/login">You Must Log in to Comment!</a>
</div>
{{/if}}





{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}

</div>